/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}
.form {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.info{
  margin-bottom: 30px;
}
