/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}
.form {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
/* .info{
  margin-bottom: 30px;
} */


.ch-container {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 0px 2px black;
  font-size: 2.5rem;
}

.ch-container:hover {
  transition: 0.5s all;
  box-shadow: 2px 0px 5px 5px black;
}
/* body {
  font-family:fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */



